<h2><%= author.name %></h2>
<h3>Books</h3>
<ul>
  <% books.forEach((book)=> { %>
  <li>
    <a href="/books/<%= book.id %>"
      ><%= book.title %> ( <%= book.publicationYear %> )
    </a>
  </li>
  <% }) %>
</ul>

<br />
<div>
  <a href="/authors/<%= author.id %>/edit">Edit Author</a>
  <a href="/authors/<%= author.id %>/delete">Delete Author</a>
</div>
